<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.flyingthacat.PowerEventPrivilegedHelper</string>
    <key>MachServices</key>
    <dict>
        <key>com.flyingthacat.PowerEventPrivilegedHelper</key>
        <true/>
    </dict>
    <key>ProgramArguments</key>
    <array>
        <string>/Library/PrivilegedHelperTools/com.flyingthacat.PowerEventPrivilegedHelper</string>
    </array>
    <key>EnablePressuredExit</key>
    <false/>
    <key>AbandonProcessGroup</key>
    <true/>
    <key>LegacyTimers</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
</dict>
</plist>
